<div class="container">
    <div style="text-align:left">
      <h1 style="padding-bottom: 10px">
      Task Manager
      </h1>
    </div>
    
    <div style="width:50%">
      <form #updateTaskForm = "ngForm" >
        <div class="row" style="padding-bottom: 10px ">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Task:</span>
                </div>
                <input type="text" class="form-control" aria-describedby="basic-addon3" name="task" [(ngModel)]="task.task">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Priority:</span>
                <mat-slider min="1" max="30" thumbLabel  step="1" name = "slider" [(ngModel)]="value"></mat-slider> 
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Parent Task:</span>
                </div>
                <input type="text" class="form-control" name="parentTask" aria-describedby="basic-addon3" [(ngModel)]="task.parentTask">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Start Date:</span>
                </div>
                <mat-form-field>
                    <input matInput [matDatepicker]="startDate" name="startDate"  [(ngModel)]="task.startDate" disabled>
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">End Date:</span>
                </div>
                <mat-form-field>
                    <input matInput [matDatepicker]="endDate" name="endDate"  [(ngModel)]="task.endDate" disabled>
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class=" row buttonClass" style="text-align:center">
          <div class="col-md-8">
              <div class="row">
                      <div class="col-md-5"><button type = "button" class="btn btn-dark" [disabled]="!task.task || !value || !task.startDate || !task.endDate" (click) = "updateTask()">Update</button></div>
                      <div class="col-md-1"></div>
                      <div class="col-md-2"><button type="button" class="btn btn-light" [routerLink] = "'/view'">Cancel</button></div>
              </div>             
          </div>
      </div>
    </form>
    </div>
    
</div>
<router-outlet></router-outlet>