<div class="container">
    <div style="text-align:left">
      <h1 style="padding-bottom: 10px">
      Task Manager
      </h1>
    </div>
    
    <div style="width:50%">

        <div class="row" style="padding-bottom: 10px ">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Task:</span>
                </div>
                <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{task.task}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Priority:</span>
                </div>
                <div style="width: 5%">
                    
                  </div>
                <div id="slider" style="width: 80%">
                    <div id="custom-handle" class="ui-slider-handle"> {{task.priority}}</div>
                  </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Parent Task:</span>
                </div>
                <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{task.parentTask}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Start Date:</span>
                </div>
                <input type="text" id="startDatePicker" name="startDate" value="{{task.startDate}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">End Date:</span>
                </div>
                <input type="text" id="endDatePicker" name="endDate" value="{{task.endDate}}">
            </div>
        </div>

        <div class=" row buttonClass" style="text-align:center">
          <div class="col-md-8">
              <div class="row">
                      <div class="col-md-5"><button type="button" class="btn btn-dark" (click)= "updateTask(task)">Update Task</button></div>
                      <div class="col-md-1"></div>
                      <div class="col-md-2"><button type="button" class="btn btn-light" [routerLink] = "'/view'">Cancel</button></div>
              </div>             
          </div>
      </div>
    </div>
    
</div>
<router-outlet></router-outlet>