<div class="container">
    <div style="text-align:left">
      <h1 style="padding-bottom: 10px">
      Task Manager
      </h1>
    </div>
    <div class=" row buttonClass">
            <div class="col-md-8">
                <div class="row">
                        <div class="col-md-2"><button type="button" class="btn btn-primary" [disabled]= true>Add Task</button></div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4"><button type="button" class="btn btn-secondary" [routerLink] = "'/view'">View Task</button></div>
                </div>             
            </div>
        </div>
    <div style="width:50%">
            <form #addTaskForm = "ngForm" >
                <div class="row" style="padding-bottom: 10px ">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Task:</span>
                        </div>
                        <input type="text" name ="task" class="form-control" aria-describedby="basic-addon3" [(ngModel)]="task.task">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Priority:</span>
                        <mat-slider min="1" max="30" thumbLabel  step="1" name = "slider" [(ngModel)]="value"></mat-slider>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Parent Task:</span>
                        </div>
                        <input type="text" name ="parentTask" class="form-control" aria-describedby="basic-addon3" [(ngModel)]="task.parentTask">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Start Date:</span>
                        </div>
                        <mat-form-field>
                            <input matInput [matDatepicker]="startDate" name="startDate" disabled [(ngModel)]="task.startDate">
                            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                            <mat-datepicker #startDate disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">End Date:</span>
                        </div>
                        <mat-form-field>
                            <input matInput [matDatepicker]="endDate" name="endDate" disabled [(ngModel)]="task.endDate">
                            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                            <mat-datepicker #endDate disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class=" row buttonClass" style="text-align:center">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-5"><button type = "button" [disabled]="!task.task || !task.priority || !task.startDate || !task.endDate" class="btn btn-dark" (click) = "addTask()">Add</button></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2"><button type="button" class="btn btn-light" (click) = "resetTask()">Reset</button></div>
                        </div>             
                    </div>
                </div>
          </form>
    </div>
    
</div>
<router-outlet></router-outlet>

<div id = "sliderContainer" ng-controller = "sliderController as ctrl"
         layout = "row" ng-cloak ng-app = "taskmanagerApp">
         <md-content style = "margin: 16px; padding:16px">
            <div layout>
               <h4 style = "margin-top:10px">priority</h4>		
               <md-slider flex min = "0" max = "30" ng-model = "color.grey"
                  aria-label = "grey" id = "grey-slider" class></md-slider>
               <div flex = "20" layout layout-align = "center center">
                  <input flex type = "number" ng-model = "color.grey" aria-label = "grey"
                     aria-controls = "grey-slider">
               </div>
            </div>
        </md-content>
      
      </div>  