<div class="container">
        <div style="text-align:left">
          <h1 style="padding-bottom: 10px">
          Task Manager
          </h1>
        </div>
        <div class="buttonClass col-md-8">
          <button type="button" class="btn btn-light" [routerLink] = "'/add'">Add Task</button>
          <button type="button" class="btn btn-dark" [routerLink] = "'/view'">View Task</button>
        </div>
        <div style="text-align:left">
            <div class="row" style="padding-bottom: 10px ">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Task:</span>
                  </div>
                  <input type="text" class="form-control" aria-describedby="basic-addon3">
                  <div class="input-group-prepend">
                      <span class="input-group-text">Parent Task:</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="basic-addon3">
                </div>
                   
          </div>
          <div class="row" style="padding-bottom: 10px">
            <div class="input-group mb-3" style="padding-right: 15px">
             
                <div class="input-group-prepend">
                  <span class="input-group-text">Priority From:</span>
                </div>
                <input type="text" class="form-control">
             
                <div class="input-group-prepend">
                  <span class="input-group-text">Priority To:</span>
                </div>
                <input type="text" class="form-control">
                <div class="input-group-prepend">
                    <span class="input-group-text">Start Date:</span>
                </div>
                <input type="text" id="startDatePicker" name="startDate">
                <div class="input-group-prepend">
                    <span class="input-group-text">End Date:</span>
                </div>
                <input type="text" id="endDatePicker" name="endDate">
            </div>
          </div>
        </div>
        <hr>
        <div *ngIf= "tasks.result = 'SUCCESS' && tasks.taskList">
          <div *ngFor="let task of tasks.taskList">
            {{task.task}}
            {{task.parentTask}}
            {{task.priority}}
            {{task.startDate}}
            {{task.startDate}}
            <div *ngIf = "{{task.editable}} = false">
              <button type="button" class="btn btn-light">Edit</button>
              <button type="button" class="btn btn-light">End Task</button>
            </div>
            <div *ngIf = "{{task.editable}} = true">
              <button type="button" class="btn btn-dark" [routerLink] = "'/update'">Edit</button>
              <button type="button" class="btn btn-dark" [routerLink] = "'/update'">End Task</button>
            </div>
          </div>
        </div>
</div>
<router-outlet></router-outlet>